@page "/addAuthor"
@using Zeiss.Data.PublicationDataSetModel

@inject NavigationManager NavigationManager
@inject PublicationDataSetModel Publication


<img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Zeiss_logo.svg"
     class="logo" />

<section class="author panel-default">
    <header class="panel-heading">
        <h4 class="panel-title">Autor</h4>
    </header>

    <EditForm Model="@Publication.MainAuthor" OnValidSubmit="NavigateToNextScreen">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="panel-body">
            <div class="author-default">
                <label for="firstname">Vorname</label>
                <InputText id="name" DisplayName="firstname" @bind-Value="Publication.MainAuthor.Name" /><br />
            </div>
            <div class="author-default">
                <label for="surname">Nachname</label>
                <InputText id="name" DisplayName="Surname" @bind-Value="Publication.MainAuthor.Surname" /><br />
            </div>
        </div>
        <div>
            <button class="back" type="button" @onclick="NavigateToPreviousScreen">
                Zurück
            </button>
            <button class="continue" type="submit">
                Weiter
            </button>
        </div>
    </EditForm>
</section>


@code
{
    private void NavigateToPreviousScreen()
    {
        NavigationManager.NavigateTo("AddTitle");
    }

    private void NavigateToNextScreen()
    {
        NavigationManager.NavigateTo("addDivision");
    }

    private void HandleInvalidSubmit()
    {

    }
}