@page "/addDateOfRelease"
@using Zeiss.PublicationManager.Data.DataSet.Model

@inject NavigationManager NavigationManager
@inject PublicationDataSetModel Publication

<img src="images/ZEISS_Logo.png" class="logo" />

<EditForm Model="@Publication" OnInvalidSubmit="@NavigateToNextScreen" OnValidSubmit="@NavigateToNextScreen">

    <DataAnnotationsValidator />

    <div class="mode">
        <h2>Neue Veröffentlichung hinzufügen</h2>
    </div>
    <section class="panel-default">
        <header class="panel-heading">
            <h4 class="panel-title">Datum der Veröffentlichung</h4>
        </header>
        <div class="panel-body">
            <InputDate class="form-control" @bind-Value="Publication.DateOfRelease" />
        </div>
    </section>

    <button class="secondaryButton back" type="button" @onclick="NavigateToPreviousScreen">
        <span class="fas fa-arrow-circle-left fa-2x"></span>
    </button>
    <button class="primaryButton continue" type="submit">
        <span class="fas fa-arrow-circle-right fa-2x"></span>
    </button>

</EditForm>

@code
{
    private void NavigateToPreviousScreen() => NavigationManager.NavigateTo("addDivision");

    private void NavigateToNextScreen() => NavigationManager.NavigateTo("addPublicationType");

    private void HandleInvalidSubmit() { }
}
