@page "/addDateOfRelease"
@inject NavigationManager NavigationManager

<img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Zeiss_logo.svg"
     class="logo" />
<section class="DateOfRelease panel-default">
    <header class="panel-heading">
        <h4 class="panel-title">Datum der Veröffentlichung</h4>
    </header>
    <div class="panel-body">
        <input type="date" id="releaseDate" name="releaseDate" value="">
    </div>
</section>

    <button class="back" type="button" @onclick="NavigateToAddDivisionComp">
        Zurück
    </button>

    <button class="continue" type="button" @onclick="NavigateToAddPublicationTypeComp">
        Weiter
    </button>

    @code
{
        private async void NavigateToAddDivisionComp()
        {
            NavigationManager.NavigateTo("addDivision");
        }

        private async void NavigateToAddPublicationTypeComp()
        {
            NavigationManager.NavigateTo("addPublicationType");
        }
    }
