@page "/addDivision"
@using BlazorElectron.Data.PublicationDataSet;

@inject NavigationManager NavigationManager
@inject PublicationDataSetModel Publication

<img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Zeiss_logo.svg"
     class="logo" />

<section class="division panel-default">
    <header class="panel-heading">
        <h4 class="panel-title">Geschäftsbereich</h4>
    </header>
    <div class="panel-body">
        <select name="division" class="division-select" @bind="Publication.Division">
            <option>DAC</option>
            <option>DQA</option>
            <option>DQA I</option>
            <option>DQA II</option>
            <option>DQA, TAD III</option>
            <option>MSD</option>
            <option>QA</option>
            <option>SAP</option>
            <option>SBD</option>
            <option>SEV</option>
            <option>TAD</option>
            <option>TAD I</option>
            <option>TAD II</option>
            <option>TAD III</option>
            <option>Vorstand</option>
            <option>Vorstand, TAD I</option>
        </select>
        <button type="button" class="addDivision">
            Neuer Geschäftsbereich
        </button>
    </div>
</section>

<button class="back" type="button" @onclick="NavigateToAddAuthorComp">
    Zurück
</button>

<button class="continue" type="button" @onclick="NavigateToAddDateOfReleaseComp">
    Weiter
</button>

@code
{
    private async void NavigateToAddAuthorComp()
    {
        NavigationManager.NavigateTo("AddAuthor");
    }

    private async void NavigateToAddDateOfReleaseComp()
    {
        NavigationManager.NavigateTo("addDateOfRelease");
    }
}
