@page "/addDescription"
@using Zeiss.PublicationManager.Data.DataSet.Model
@using Zeiss.PublicationManager.Business.Logic.IO.Write

@inject NavigationManager NavigationManager
@inject PublicationDataSetModel Publication
@inject DataHandler dataHandler

<img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Zeiss_logo.svg" class="logo" />

@if (ShowSavePopup)
{
    <div class="modal fade show" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title w-100 text-center">Erfolgreich gespeichert</h3>
                </div>
                <div class="modal-body">
                    <p>Die Veröffentlichung wurde der Liste hinzugefügt.</p>
                    <button type="submit" id="backToLandingPage" class="form-control" @onclick="@NavigateToLandingPage">Zurück zur Startseite</button>
                </div>
            </div>
        </div>
    </div>
}

<EditForm Model="@Publication">
    <section class="description panel-default">
        <header class="panel-heading">
            <h4 class="panel-title">Zusätzliche Information</h4>
        </header>
        <div class="description panel-body">
            <form>
                <div class="description-default">
                    <label for="titleDescr">Beschreibung</label>
                    <InputText id="titleDescr" class="form-control" @bind-Value="@Publication.Description" />
                </div>
                <div class="description-default">
                    <label for="description">Beschreibungstext</label>
                    <InputTextArea id="description" class="form-control" @bind-Value="@Publication.AdditionalInformation" rows="5" />
                </div>
            </form>
        </div>
    </section>

    <button class="addPub" type="button" @onclick="Save">Veröffentlichung hinzufügen</button>
    <button class="back" type="button" @onclick="NavigateToPreviousScreen">Pflichtangaben</button>
    <button class="continue" type="button" @onclick="NavigateToNextScreen">Weiter</button>
</EditForm>

@code
{
    private void NavigateToPreviousScreen() => NavigationManager.NavigateTo("addPublicationType");

    private void NavigateToNextScreen() => NavigationManager.NavigateTo("addPublisher");

    private void NavigateToLandingPage() => NavigationManager.NavigateTo("/");

    private void Save()
    {
        dataHandler.Save(Publication);
        PopupSuccessfulSave();
    }

    // Dialogfenster zum erfolgreichen Hinzufügen einer Veröffentlichung
    bool ShowSavePopup = false;
    private void PopupSuccessfulSave()
    {
        ShowSavePopup = true;
    }

}
