@page "/addDateOfRelease"
@inject NavigationManager NavigationManager

<img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Zeiss_logo.svg"
     class="logo" />

<h3>AddDateOfRelease</h3>
<p>Hier wird das Veröffentlichungsdatum hinzugefügt.</p>

<button class="back" type="button" @onclick="NavigateToAddDivisionComp">
    Zurück
</button>

<button class="continue" type="button" @onclick="NavigateToAddPublicationTypeComp">
    Weiter
</button>

@code 
{
    private async void NavigateToAddDivisionComp()
    {
        NavigationManager.NavigateTo("addDivision");
    }

    private async void NavigateToAddPublicationTypeComp()
    {
        NavigationManager.NavigateTo("addPublicationType");
    }
}
