@page "/addPublisher"
@using Zeiss.PublicationManager.Data.DataSet.Model

@inject NavigationManager NavigationManager
@inject PublicationDataSetModel Publication

<img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Zeiss_logo.svg"
     class="logo" />

<section class="publisher panel-default">
    <header class="panel-heading">
        <h4 class="panel-title">Verlag des Mediums</h4>
    </header>
    <div class="panel-body">
        <form>
            <label for="publisher">Name Verlag</label>
            <input type="text" id="publisher" name="publisher" /><br />
        </form>
    </div>
</section>

<button class="addPub" type="button" @onclick="Preview">
    Veröffentlichung hinzufügen
</button>

<button class="back" type="button" @onclick="NavigateToPreviousScreen">
    Zurück
</button>

@code
{
    private void NavigateToPreviousScreen()
    {
        NavigationManager.NavigateTo("addDescription");
    }

    private void Preview()
    {
        NavigationManager.NavigateTo("Preview");
    }
}
