@page "/addPublicationType"
@using Zeiss.PublicationManager.Data.DataSet.Model
@using Zeiss.PublicationManager.Business.Logic.IO.Write

@inject NavigationManager NavigationManager
@inject PublicationDataSetModel Publication

<img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Zeiss_logo.svg" class="logo" />

@if (ShowPopup)
{
    <div class="modal fade show" aria-modal="true" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title w-100 text-center">Erfolgreich gespeichert</h3>
                </div>
                <div class="modal-body">
                    <p>Die Veröffentlichung wurde erfolgreich der Liste hinzugefügt.</p>
                    <button type="submit" id="backToLandingPage" class="form-control" @onclick="@NavigateToLandingPage">Zurück zur Startseite</button>
                </div>
            </div>
        </div>
    </div>
}

<EditForm Model="Publication.TypeOfPublication" OnInvalidSubmit="@HandleInvalidSubmit" OnValidSubmit="@SuccessfulSavePublication">

    <DataAnnotationsValidator />

    <section class="publicationType panel-default">
        <header class="panel-heading">
            <h4 class="panel-title">Art der Veröffentlichung</h4>
        </header>
        <div class="panel-body">
            <InputSelect DisplayName="division" class="form-control" @bind-Value="Publication.TypeOfPublication.Name">
                <option></option>
                <option>Artikel</option>
                <option>Blogbeitrag</option>
                <option>Buch</option>
                <option>Videotraining</option>
                <option>Vortrag</option>
                <option>Workshop</option>
            </InputSelect>
            <ValidationMessage For="@(()=> Publication.TypeOfPublication.Name)" />
        </div>
    </section>

    <button class="addPub" type="submit">Veröffentlichung hinzufügen</button>
    <button class="back" type="button" @onclick="NavigateToPreviousScreen">Zurück</button>
    @*<button class="continue" type="submit" >Optionale Angaben</button>*@

</EditForm>

@code
{
    private void NavigateToPreviousScreen()
    {
        NavigationManager.NavigateTo("addDateOfRelease");
    }

    private void NavigateToNextScreen()
    {
        NavigationManager.NavigateTo("addDescription");
    }

    private void NavigateToLandingPage()
    {
        NavigationManager.NavigateTo("/");
    }

    private void Save()
    {
        WriteData.Save(Publication);
        SuccessfulSavePublication();
    }
    @*
        private void Preview()
        {
            NavigationManager.NavigateTo("Preview");
        }
    *@

    private void HandleInvalidSubmit()
    {

    }

    // Dialogfenster zum erfolgreichen Hinzufügen einer Veröffentlichung
    bool ShowPopup = false;
    private void SuccessfulSavePublication()
    {
        ShowPopup = true;
    }
}
