@page "/addPublicationType"
@using BlazorElectron.Data.DataLogic;
@using BlazorElectron.Data.PublicationDataSet;

@inject NavigationManager NavigationManager
@inject PublicationDataSetModel Publication

<img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Zeiss_logo.svg"
     class="logo" />

<section class="publicationType panel-default">
    <header class="panel-heading">
        <h4 class="panel-title">Art der Veröffentlichung</h4>
    </header>
    <div class="panel-body">
        <select name="publicationType" class="division-select" @bind="Publication.TypeOfPublication.Name">
            <option>App</option>
            <option>Artikel</option>
            <option>Beitrag in einem Buch</option>
            <option>Blogbeitrag</option>
            <option>Buch</option>
            <option>Deep Dive</option>
            <option>Dev Session</option>
            <option>Dojo</option>
            <option>eBook</option>
            <option>Excerpt</option>
            <option>Fachposter</option>
            <option>Gala</option>
            <option>Hackathon</option>
            <option>Interview</option>
            <option>Kata</option>
            <option>Networking Lounge</option>
            <option>Pecha Kucha</option>
            <option>Podcast</option>
            <option>Podiumsdiskussion</option>
            <option>Rede</option>
            <option>Seminar</option>
            <option>Videotraining</option>
            <option>Vortrag</option>
            <option>Webcast</option>
            <option>Webinar</option>
            <option>Workshop</option>
        </select>
    </div>
</section>

<button class="addPub" type="button" @onclick="Save">
    Veröffentlichung hinzufügen
</button>

<button class="back" type="button" @onclick="NavigateToAddDateOfReleaseComp">
    Zurück
</button>

<button class="continue" type="button" @onclick="NavigateToAddDescriptionComp">
    Optionale Angaben
</button>

@code
{
    private async void NavigateToAddDateOfReleaseComp()
    {
        NavigationManager.NavigateTo("addDateOfRelease");
    }

    private async void NavigateToAddDescriptionComp()
    {
        NavigationManager.NavigateTo("addDescription");
    }

    private void Save()
    {
        Logic.Save(Publication);
        NavigationManager.NavigateTo("/");
    }
}
