@page "/addTags"
@using Zeiss.PublicationManager.Data.DataSet.Model
@using Zeiss.PublicationManager.Business.Logic

@inject NavigationManager NavigationManager
@inject PublicationDataSetModel Publication

<img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Zeiss_logo.svg" class="logo" />

@if (ShowPopup)
{
    <div class="modal fade show" aria-modal="true" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title w-100 text-center">Erfolgreich gespeichert</h3>
                </div>
                <div class="modal-body">
                    <p>Die Veröffentlichung wurde erfolgreich der Liste hinzugefügt.</p>
                    <button type="submit" id="backToLandingPage" class="form-control" @onclick="@NavigateToLandingPage">Zurück zur Startseite</button>
                </div>
            </div>
        </div>
    </div>
}

<EditForm Model="@Publication">

    <section class="tags panel-default">
        <header class="panel-heading">
            <h4 class="panel-title">Tags</h4>
        </header>
        <div class="tags panel-body">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="Frontend" Value="" />
                <label class="form-check-label" for="Frontend">Frontend</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="Backend" Value="" />
                <label class="form-check-label" for="Backend">Backend</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="Development" Value="" />
                <label class="form-check-label" for="Development">Development</label>
            </div>
        </div>
    </section>

    <button class="addPub" type="submit" @onclick="Save">Veröffentlichung hinzufügen</button>
    <button class="back" type="button" @onclick="NavigateToPreviousScreen">Zurück</button>

</EditForm>

@code
{
    private void NavigateToPreviousScreen()
    {
        NavigationManager.NavigateTo("addPublisher");
    }

    private void Save()
    {
        DataLogic.Save(Publication);
        PopupSuccessfulSave();
    }

    private void NavigateToLandingPage()
    {
        NavigationManager.NavigateTo("/");
    }

    // Dialogfenster zum erfolgreichen Hinzufügen einer Veröffentlichung
    bool ShowPopup = false;
    private void PopupSuccessfulSave()
    {
        ShowPopup = true;
    }
}
