@page "/addTitle"
@using Zeiss.PublicationManager.Data.DataSet.Model

@inject NavigationManager NavigationManager
@inject PublicationDataSetModel Publication

<img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Zeiss_logo.svg"
     class="logo" />

<EditForm Model="@Publication" OnInvalidSubmit="@HandleInvalidSubmit" OnValidSubmit="@NavigateToNextScreen">

    <DataAnnotationsValidator />

    <section class="title panel-default">
        <header class="panel-heading">
            <h4 class="panel-title">Dokument</h4>
        </header>
        <div class="panel-body">
            <label for="workingtitle">Titelname</label>
            <InputText id="workingtitle" class="form-control" @bind-Value="@Publication.WorkingTitle" /><br />
        </div>
    </section>

    <button class="back" type="button" @onclick="NavigateToPreviousScreen">Startseite</button>
    <button class="continue" type="submit">Weiter</button>

</EditForm>

@code
{
    private void NavigateToPreviousScreen()
    {
        NavigationManager.NavigateTo("/");
    }

    private void NavigateToNextScreen()
    {
        NavigationManager.NavigateTo("addAuthor");
    }

    private void HandleInvalidSubmit()
    {
        NavigateToNextScreen();
    }
}
