@page "/Preview"
@using BlazorElectron.Data.PublicationDataSet
@using Data.DataLogic

@inject NavigationManager NavigationManager
@inject PublicationDataSetModel Publication

<img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Zeiss_logo.svg"
     class="logo" />

<section class="preview-default">
    <header class="panel-heading">
        <h4 class="panel-title">Dokumentenvorschau</h4>
    </header>
    <div class="panel-body">
    </div>
</section>
<button class="addPub" type="button" @onclick="Save">
    Veröffentlichung Speichern
</button>


@code
{
    private void Save()
    {
        Logic.Save(Publication);
        NavigationManager.NavigateTo("/");
    }
}