*~
.DS_Store
*.html
*.pdf
.asciidoctor/
**/images/diagrams/


## VisualStudio
.vs/
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Excel-Dateien
src/BlazorElectron/*.xlsx
src/ExcelIOComponentTest/*.xlsx
src/**/bin/**/*.xlsx

*.zip

# Experimental Config Folder
src/_config/*.*

src/BlazorElectron/BlazorElectron.csproj.user
