@page "/"
@using Zeiss.PublicationManager.Data.DataSet.Model
@using ElectronNET.API;
@using ElectronNET.API.Entities;
@using Zeiss.PublicationManager.Business.Logic.IO

@inject NavigationManager NavigationManager
@inject PublicationDataSetModel Publication
@inject DataHandler dataHandler

<img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Zeiss_logo.svg" class="logo" />

    <section class="panel-default">
        <header class="panel-heading">
            <h4 class="panel-title">Excel Datei auswählen</h4>
        </header>
        <div class="panel-body">
            <button type="button" class="btn btn-primary" @onclick="openFileDialog">
                <span class="far fa-file-excel fa-3x"></span>Datei Öffnen
            </button>
        </div>
    </section>

@code
{
    async Task openFileDialog()
    {
        if (!HybridSupport.IsElectronActive)
        {
            NavigationManager.NavigateTo("/SearchPublication");
            return;
        }

        var options = new OpenDialogOptions
        {
            Title = "Choose a file",
            Filters = new[]
            {
                new FileFilter
                {
                    Name = "Excel",
                    Extensions = new[] { "xlsx" }
                },
            },
            Properties = new[]
            {
                OpenDialogProperty.multiSelections, OpenDialogProperty.showHiddenFiles
            }
        };

        var mainWindow = Electron.WindowManager.BrowserWindows.First();

        var selectedFiles = await Electron.Dialog.ShowOpenDialogAsync(mainWindow, options);

        if (!System.IO.File.Exists(selectedFiles.FirstOrDefault()))
            return;

        dataHandler.SetFilePath(selectedFiles.FirstOrDefault());

        NavigationManager.NavigateTo("/SearchPublication");
    }
}
