@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

/* Hintergrund*/
body {
    background-color: #e5e5e5;
}

/* ZEISS Logo */
.logo {             
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 11%;
    height: auto;
}

/* aktueller Workflow Modus*/
.mode {
    position: absolute;
    top: 25%;
    left: 25%;
    font-weight:bold;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.primaryButton {
    border: 3px groove #565656;
    border-radius: 15px;
    background-color: #2f2e2e;
    color: #ffffff;
    font-family: Arial;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
}

/* Weiter-Button */
.continue {
    position: absolute;
    bottom: 7%;
    right: 7%;
    width: 20%;
    height: 10%;
    min-width: 190px;
    min-height: 50px;
}

/* Zurück-Button */
.back {
    position: absolute;
    bottom: 7%;
    left: 7%;
    width: 20%;
    height: 10%;
    min-width: 190px;
    min-height: 50px;
}

/* Veröffentlichung hinzufügen-Button */
.addPub {
    position: absolute;
    top: 26%;
    right: 3%;
    width: 30%;
    height: 8%;
    min-width: 225px;
    min-height: 50px;
}

/* Zentrierter Button */
.centeredButton {
    text-align: center;
}

/* Neuen ... hinzufügen-Button*/
.addNewField {
    position: static;
    font-size: 100%;
    font-weight: normal;
    width: 40%;
    height: 120%;
    min-width: 170px;
    padding: 2%;
}

/* Abbrechen-Button */
.cancelButton {
    border: none;
    color: #343a40;
    background: none;
    position: absolute;
    padding: 0;
    top: 0px;
    right: 1px;
}

/* Hinzufügen-Button*/
#addButtonInPopup {
    border: 3px groove #565656;
    border-radius: 15px;
    background-color: #2f2e2e;
    color: #ffffff;
    font-family: Arial;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    min-height: 50px;
}

/* "+"-Button */
.landingPageAddPublication {
    position: absolute;
    right: 5%;
}
/* Panel */
.panel-title {
    font-size: 150%;
    font-weight: bold;
}

.panel-default {
    position: absolute;
    top: 35%;
    left: 25%;
    width: 50%;
    height: 10%;
    font-weight: bold;
}

.panel-body {
    border: 3px groove #565656;
    border-radius: 15px;
    padding: 4%;
}

.panel-object, .modal-object {
    margin: 3%;
}

/* Popup-Fenster */
.modal {
    display: block;
    font-family: Arial;
    background-color: rgba(10,10,10,.8);
}

.modal-dialog {
    border: 3px groove #2f2e2e;
    border-radius: 10px;
    position: center;
    top: 30%;
}

.modal-content {
    background-color: #e5e5e5;
}

.modal-header {
    padding: 2%;
    margin: 0 5%;
}

/* Suchtext Leiste */
.search-default {
    margin: 0.5% 5%;
}

.filterSection {
    margin: 0 5% 0.5%;
}

.dropdownFilter {
    margin: 0 5%;
    width: 30%;
}

.sort-link {
    cursor: pointer;
}

.table {
    width: 90%;
    margin: 0 auto;
}

/* scrollable table */
tbody {
    display: block;
    height: 450px;
    overflow-y: auto;
    width: 100%;
}

    thead, tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

thead {
    width: calc( 100% - 1em)
}

.form-check.tags {
    margin: 0 auto;
}

/* Textbox fixierte Größe*/
#textBox {
    resize: none;
}

/* Validierung */
.validation-message {
    color: red;
    font-weight: bold;
}

/* error message */
#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }