@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

/* Hintergrund*/
body {
    background-color: #e5e5e5;
}

/* ZEISS Logo */
.logo {             
    display: block;
    margin: 15px auto 15px auto;
    width: 11%;
    height: auto;
}

/* aktueller Workflow Modus*/
.mode {
    position: absolute;
    color: white;
    text-shadow: 2px 2px 4px #244ca4;
    font-weight:bold;
    top: 25%;
    left: 25%;
}

.primaryButton, .secondaryButton {
    border-radius: 15px;
    font-family: Arial;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
}

.primaryButton {
    border: 3px groove #565656;
    background-color: #244ca4;
    color: #ffffff;
}

    .primaryButton:hover {
        background-color: blue;
    }

.secondaryButton {
    border: 3px groove #244ca4;
    background-color: white;
    color: #244ca4;
}

    .secondaryButton:hover {
        color: darkblue;
    }

.continue, .back {
    position: absolute;
    bottom: 15%;
    width: 9em;
    height: 5em;
    min-width: 190px;
    min-height: 50px;
}

/* Weiter-Button */
.continue {
    right: 7%;
}

/* Zurück-Button */
.back { 
    left: 7%;
}

/* Datei Öffnen & Neue Excel erstellen-Button*/
.excel-button {
    width: 9em;
    height: 4em;
    margin: 0 25px 0 25px;
}

/* Veröffentlichung hinzufügen/speichern-Button */
.addPub {
    position: absolute;
    top: 24%;
    right: 7%;
    width: 9em;
    height: 5em;
}

/* Neue Veröffentlichung hinzufügen-Div */
.landingPageAddPublication {
    position: absolute;
    right: 5%;
    margin-top: 2%;
}

/* Neue Veröffentlichung hinzufügen-Button*/
.addNewPub {
    padding: 1em;
}

/* Zentrierter Button fuer Panel*/
.centeredButton {
    text-align: center;
}

/* Neuen ... hinzufügen-Button*/
.addNewField {
    position: static;
    font-size: 100%;
    font-weight: normal;
    width: 40%;
    height: 120%;
    min-width: 170px;
    padding: 2%;
}

/* Abbrechen-Button */
.cancelButton {
    border: none;
    color: #343a40;
    background: none;
    position: absolute;
    padding: 0;
    top: 0px;
    right: 1px;
}

    .cancelButton:hover {
        color: black;
    }

/* Benutzerhilfe */
#userHelp {
    position: absolute;
    top: 1em;
    right: 4em;
    width: 4em;
    height: 2em;
    border-radius: 0px;
    border: 2px groove black;
}
/* Panel */
.panel-title {
    font-size: 150%;
    font-weight: bold;
}

.panel-default {
    position: absolute;
    top: 35%;
    left: 25%;
    width: 50%;
    height: 10%;
    font-weight: bold;
}

.panel-body {
    border: 3px groove #565656;
    border-radius: 15px;
    padding: 4%;
}

.panel-object, .modal-object {
    margin: 3%;
}

/* Popup-Fenster */
.modal {
    font-family: Arial;
    background-color: rgba(10,10,10,.8);
}

.modal-dialog {
    border: 3px groove #2f2e2e;
    border-radius: 10px;
    position: center;
    top: 30%;
}

.modal-content {
    background-color: #e5e5e5;
}

.modal-header {
    padding: 2%;
    margin: 0 5%;
}

/* Landing-Page div */
.choose-Excel {
    display: flex;
    justify-content: center;
}

/* Suchtext Leiste */
.search-default {
    margin: 0.5% 5%;
}

.filterSection {
    margin: 0 5% 0.5%;
}

.fa-filter:hover {
    text-shadow: 2px 2px 4px #000000;
}

.dropdownFilter {
    margin: 0 5%;
    width: 30%;
}

.sort-link {
    cursor: pointer;
}
    .sort-link:hover {
        font-weight: 900;
    }


/* Tab-Nav */
#myTab {
    margin: 0 5%;
}

    #myTab .nav-item {
        background-color: white;
    }

        #myTab .nav-item:hover {
            background-color: darkgrey;
        }

a {
    color: black;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: white;
    background-color: #343a40;
}

/* Übersichts-Tabelle */
.table {
    width: 90%;
    margin: 0 auto;
}

/* scrollbare Tabelle + Ausrichtung Spalten */
tbody {
    display: block;
    height: 450px;
    overflow-y: auto;
    width: 100%;
}

    thead, tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

thead {
    width: calc( 100% - 1em)
}

/* Farbe bei hovern ueber Tabellenzeile*/
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #5f5f5f;
}

.fa-pencil-alt:hover, .fa-trash-alt:hover {
    text-shadow: 2px 2px 4px #000000;
}

.form-check.tags {
    margin: 0 auto;
}

/* Textbox fixierte Größe*/
#textBox {
    resize: none;
}

/* Validierung */
.validation-message {
    color: red;
    font-weight: bold;
}

/* error message */
#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

/*###########################################################################################*/
body {
    background-color: #e5e5e5;
    font-size: 16px;
    font-family: Arial;
    width: 100%;
    overflow-x: hidden;
}

#background {
    margin-left: 2%;
    width: 96%
}

#zeiss_logo {
    background-image: url("../src/Zeiss_logo.svg");
    height: 20px;
    width: 100%
}

h2 {
    font-size: 2.5em;
    text-align: center
}

h3 {
    font-size: 1.75em;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px
}

.link_top {
    font-size: 1.25em;
    margin-top: 5px;
    margin-bottom: 5px
}

#inhalt {
    margin-left: 15px;
    margin-bottom: 5px;
    margin-top: 5px
}

#inhalt_2 {
    margin-left: 15px;
    margin-bottom: 5px;
    margin-top: 5px
}

#return_to_app {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 385px;
    height: 90px;
    width: 20%;
    height: 10%;
    background-color: none;
    background-image: url("../src/back_arrow.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
}

.container_border {
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: groove;
    background-color: #faf7f7;
}



.paragraph_wrapper { /* Äußerter Wrapper um Bild rechts neben Rechts anzuzeigen (flex-display) */
    display: flex;
    height: auto;
    width: 100%;
    margin-left: 0px;
    margin-bottom: 15px;
}

.paragraph_left_wrapper { /* Wrapper linker Teil mit Text (Rechts ist Bild) */
    width: 50%;
}

.paragraph_header { /* Header margin deaktivieren, titel Unterstreichen */
    margin: 0px;
    text-decoration: underline black;
    font-size: 1.25em;
}

.paragraph_text_wrapper { /* Margin um "Stichpunkte" nicht versetzt anzuzeigen. Abstand zum Titel*/
    margin-left: 15px;
    margin-top: 5px;
}

.paragraph_image { /* 40% Breite ergänzt paragraph_left_wrapper width */
    height: 100%;
    min-height: 275px;
    width: 50%;
    min-width: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    /*  border-style: groove;*/
}

.center_image {
    height: 100%;
    min-height: 275px;
    width: 50%;
    min-width: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
}

#img_veröffentlichung_hinzufügen {
    background-image: url("../src/veröffentlichung_hinzufügen.png");
}

#img_titel {
    background-image: url("../src/Titel.png");
}

#img_autor_1 {
    background-image: url("../src/autor.png");
}

#img_autor_2 {
    background-image: url("../src/autor2.png");
}

#img_geschäftsbereich_1 {
    background-image: url("../src/geschäftsbereich_1.png");
}

#img_geschäftsbereich_2 {
    background-image: url("../src/geschäftsbereich_2.png");
}

#img_datum {
    background-image: url("../src/datum.png");
}

#img_art_veröffentlichung_1 {
    background-image: url("../src/art_veröffentlichung_1.png");
}

#img_art_veröffentlichung_2 {
    background-image: url("../src/art_veröffentlichung_2.png");
}

#img_zusatz_info {
    background-image: url("../src/zusätzliche_info.png");
}

#img_verlag_1 {
    background-image: url("../src/verlag_1.png");
}

#img_verlag_2 {
    background-image: url("../src/verlag_2.png");
}

#img_liste_veröffentlichung {
    background-image: url("../src/liste_edit.png");
}

#img_liste_suchen {
    background-image: url("../src/liste_suchen.png");
}

#img_liste_autor {
    background-image: url("../src/liste_autor.png");
}

#img_liste_arten {
    background-image: url("../src/liste_art.png");
}
