@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

/* Hintergrund*/
body {
    background-color: #d5d5d5;
}

/* ZEISS Logo */
.logo {             
    display: block;
    margin: 15px auto 15px auto;
    width: 30%;
    max-width: 18em;
}

/* aktueller Workflow Modus*/
.mode {
    position: absolute;
    top:25%;
    left: 5%;
    font-weight:bold;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

/* Maximaler und minimaler Skalierungswert der Schrift*/
.mode h2 {
    font-size: 2.5vmax;
    font-size: 2.8vmin;
}

.primaryButton {
    border: 3px groove #565656;
    border-radius: 15px;
    background-color: #244ca4;
    color: #ffffff;
    font-family: Arial;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
}
    .primaryButton:hover {
        background-color: blue;
    }

.secondaryButton {
    border: 3px groove #244ca4;
    border-radius: 15px;
    background-color: white;
    color: #244ca4;
    font-family: Arial;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
}
    .secondaryButton:hover {
        color: darkblue;
    }

.continue, .back {
    position: absolute;
    bottom: 15%;
    width: 9em;
    height: 5em;
}
/* Weiter-Button */
.continue {
    right: 7%;
}

/* Zurück-Button */
.back {
    left: 7%;
}

.addPub {
    position: absolute;
    top: 24%;
    right: 7%;
    width: 9em;
    height: 5em;
}

/* Zentrierter Button für Panels*/
.centeredButton {
    text-align: center;
}

/* Neuen ... hinzufügen-Button*/
.addNewField {
    border-radius: 5px;
    position: static;
    font-size: 100%;
    font-weight: normal;
    width: 80%;
    max-width: 20em;
    padding: 2%;
}

/* Abbrechen-Button */
.cancelButton {
    border: none;
    color: #343a40;
    background: none;
    position: absolute;
    padding: 0;
    top: 0px;
    right: 1px;
}
    .cancelButton:hover {
        color: black;
    }

/* Hinzufügen-Button*/
.addButtonInPopup {
    text-align: center;
    line-height: 20px;
    min-height: 50px;
}

/* "+"-Button */
.landingPageAddPublication {
    position: absolute;
    right: 5%;
    margin-top: 2%;
}
    .landingPageAddPublication button {
        color: #244ca4;
    }
    .landingPageAddPublication button:hover {
        color: blue;
    }

/* Panel */
.panel-title {
    font-size: 150%;
    font-weight: bold;
}

.panel-default {
    position: absolute;
    top: 35%;
    left: 25%;
    width: 50%;
    height: 10%;
    font-weight: bold;
}

.panel-body {
    border: 3px groove #565656;
    border-radius: 15px;
    padding: 4%;
}

.panel-object, .modal-object {
    margin: 3%;
}

/* Popup-Fenster */
.modal {
    display: block;
    font-family: Arial;
    background-color: rgba(10,10,10,.8);
}

.modal-dialog {
    border: 3px groove #2f2e2e;
    border-radius: 10px;
    position: center;
    top: 30%;
}

.modal-content {
    background-color: #e5e5e5;
}

.modal-header {
    padding: 2%;
    margin: 0 5%;
}

/* Suchtext Leiste */
.search-default {
    margin: 0.5% 5%;
}

.filterSection {
    margin: 0 5% 0.5%;
}

.dropdownFilter {
    margin: 0 5%;
    width: 30%;
}

.sort-link {
    cursor: pointer;
}
.sort-link:hover {
    font-weight: 900;
}

.table {
    width: 90%;
    margin: 0 auto;
}

/* scrollable table */
tbody {
    display: block;
    height: 450px;
    overflow-y: auto;
    width: 100%;
}
    thead, tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

thead {
    width: calc( 100% - 1em)
}

/* Farbe bei hovern über Tabellenzeile*/
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: gray;
}

.fa-pencil-alt:hover, .fa-trash-alt:hover {
    text-shadow: 2px 2px 4px #000000;
}

.form-check.tags {
    margin: 0 auto;
}

/* Textbox fixierte Größe*/
#textBox {
    resize: none;
}

/* Validierung */
.validation-message {
    color: red;
    font-weight: bold;
}

/* error message */
#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }